<h1> EXTRACTING NECESSARY DATA FROM DATASET </h1<

In [3]:
import pandas as pd

In [4]:
df_players = pd.read_csv("FIFA_2022_Players.csv",low_memory = False)  #Reads the whole file at once

In [5]:
df_players = df_players[['short_name', 'age', 'nationality_name', 'overall', 'potential',
         'club_name', 'value_eur', 'wage_eur', 'player_positions']]

# Selecting the most prefered positions of the players
df_players['player_positions'] = df_players['player_positions'].str.split(',' , expand = True)[0]

In [6]:
players_missing_worldcup = ['K. Benzema', 'S. Mané', 'S. Agüero', 'Sergio Ramos', 'P. Pogba',
                            'M. Reus', 'Diogo Jota', 'A. Harit', 'N. Kanté', 'G. Lo Celso', 'Piqué',
                            'G. Wijnaldum','F. Wirtz', 'M. Maignan','Oyarzabal','T. Werner','R. James',
                            'Pedro Neto','B. Kamara','S. Kennedy','J. Corona','P. Kimpembe','Y. Nakayama',
                            'C. Nkunku','Gayà','M. Crépeau','J. Correa']

In [7]:
delete_index = df_players[df_players['short_name'].isin(players_missing_worldcup)].index
df_players.drop(delete_index, axis = 0, inplace = True)

In [8]:
worldcup_teams = ['Qatar', 'Brazil', 'Belgium', 'France', 'Argentina', 'England', 'Spain', 'Portugal',
    'Mexico', 'Netherlands', 'Denmark', 'Germany', 'Uruguay', 'Switzerland', 'United States', 'Croatia',
    'Senegal', 'Iran', 'Japan', 'Morocco', 'Serbia', 'Poland', 'South Korea', 'Tunisia',
    'Cameroon', 'Canada', 'Ecuador', 'Saudi Arabia', 'Ghana', 'Wales', 'Costa Rica', 'Australia']

df_players = df_players[df_players['nationality_name'].isin(worldcup_teams)]

In [9]:
df_players.sort_values(by=['overall', 'potential', 'value_eur'], ascending=False, inplace=True)
df_players

,short_name,age,nationality_name,overall,potential,club_name,value_eur,wage_eur,player_positions
0,L. Messi,34,Argentina,93,93,Paris Saint-Germain,78000000.0,320000.0,RW
1,R. Lewandowski,32,Poland,92,92,FC Bayern München,119500000.0,270000.0,ST
6,K. Mbappé,22,France,91,95,Paris Saint-Germain,194000000.0,230000.0,ST
3,Neymar Jr,29,Brazil,91,91,Paris Saint-Germain,129000000.0,270000.0,LW
4,K. De Bruyne,30,Belgium,91,91,Manchester City,125500000.0,350000.0,CM
...,...,...,...,...,...,...,...,...,...
19183,F. Emmings,17,United States,48,73,Minnesota United FC,130000.0,500.0,GK
19197,J. Neal,17,United States,48,69,LA Galaxy,140000.0,500.0,CB
19216,H. Wiles-Richards,19,England,48,65,Bristol City,110000.0,1000.0,GK
19217,J. Affonso,23,Uruguay,48,55,Cerro Largo Fútbol Club,90000.0,500.0,CM
19230,N. Saliba,17,Canada,47,69,Club de Foot Montréal,150000.0,500.0,CM

<h1> BEST FIFA SQUAD </h1>

In [10]:
df_players.drop_duplicates('player_positions')

,short_name,age,nationality_name,overall,potential,club_name,value_eur,wage_eur,player_positions
0,L. Messi,34,Argentina,93,93,Paris Saint-Germain,78000000.0,320000.0,RW
1,R. Lewandowski,32,Poland,92,92,FC Bayern München,119500000.0,270000.0,ST
3,Neymar Jr,29,Brazil,91,91,Paris Saint-Germain,129000000.0,270000.0,LW
4,K. De Bruyne,30,Belgium,91,91,Manchester City,125500000.0,350000.0,CM
8,M. ter Stegen,29,Germany,90,92,FC Barcelona,99000000.0,250000.0,GK
19,J. Kimmich,26,Germany,89,90,FC Bayern München,108000000.0,160000.0,CDM
15,V. van Dijk,29,Netherlands,89,89,Liverpool,86000000.0,230000.0,CB
28,Bruno Fernandes,26,Portugal,88,89,Manchester United,107500000.0,250000.0,CAM
44,T. Alexander-Arnold,22,England,87,92,Liverpool,114000000.0,150000.0,RB
45,J. Sancho,21,England,87,91,Manchester United,116500000.0,150000.0,RM
41,P. Dybala,27,Argentina,87,88,Juventus,93000000.0,160000.0,CF
64,K. Coman,25,France,86,87,FC Bayern München,81000000.0,120000.0,LM
50,Jordi Alba,32,Spain,86,86,FC Barcelona,47000000.0,200000.0,LB
180,Angeliño,24,Spain,83,86,RB Leipzig,46000000.0,77000.0,LWB
361,N. Mukiele,23,France,81,85,RB Leipzig,34500000.0,65000.0,RWB

<h1> BEST SQUAD FOR A TEAM </h1>

In [11]:
def best_squad(team):
    df_best_squad = df_players.copy()
    df_best_squad = df_best_squad.drop(['value_eur','wage_eur'],axis = 1)
    df_best_squad = df_best_squad.groupby(['nationality_name','player_positions']).head(2)
    df_best_squad = df_best_squad[df_best_squad['nationality_name'] == team].sort_values(['player_positions','overall','potential'], ascending = False)
    return df_best_squad

In [12]:
best_squad('Argentina')

,short_name,age,nationality_name,overall,potential,club_name,player_positions
93,L. Martínez,23,Argentina,85,89,Inter,ST
177,Á. Correa,26,Argentina,83,86,Atlético de Madrid,ST
2913,N. Molina,23,Argentina,73,81,Udinese Calcio,RWB
5437,E. Meza,22,Argentina,70,76,Club Atlético Colón,RWB
0,L. Messi,34,Argentina,93,93,Paris Saint-Germain,RW
33,Á. Di María,33,Argentina,87,87,Paris Saint-Germain,RW
412,E. Salvio,30,Argentina,80,80,Boca Juniors,RM
617,E. Buendía,24,Argentina,79,84,Aston Villa,RM
818,G. Montiel,24,Argentina,78,84,Sevilla FC,RB
1083,F. Bustos,25,Argentina,77,80,Club Atlético Independiente,RB
674,C. Ansaldi,34,Argentina,78,78,Torino F.C.,LWB
5202,G. Togni,23,Argentina,70,76,Club Atlético Independiente,LWB
171,L. Ocampos,26,Argentina,83,83,Sevilla FC,LW
789,C. Pavón,25,Argentina,78,81,Boca Juniors,LW
901,S. Blanco,33,Argentina,77,77,Portland Timbers,LM
1362,M. Vargas,24,Argentina,76,81,Adana Demirspor,LM
134,M. Acuña,29,Argentina,84,84,Sevilla FC,LB
242,N. Tagliafico,28,Argentina,82,82,Ajax,LB
113,E. Martínez,28,Argentina,84,85,Aston Villa,GK
345,J. Musso,27,Argentina,81,83,Atalanta,GK
247,R. De Paul,27,Argentina,82,83,Atlético de Madrid,CM
413,R. Pereyra,30,Argentina,80,80,Udinese Calcio,CM
41,P. Dybala,27,Argentina,87,88,Juventus,CF
2642,L. Fernández,30,Argentina,73,73,Club Nacional de Football,CF
206,É. Banega,33,Argentina,82,82,Al Shabab,CDM
331,L. Paredes,27,Argentina,81,83,Paris Saint-Germain,CDM
269,C. Romero,23,Argentina,82,87,Tottenham Hotspur,CB
302,N. Otamendi,33,Argentina,81,81,SL Benfica,CB
69,A. Gómez,33,Argentina,85,85,Sevilla FC,CAM
704,J. Pastore,32,Argentina,78,78,Elche CF,CAM

<h1> TOP 5 PLAYERS OF THE TEAM </h1>

In [13]:
def top5(team):
    df_top5 = df_players.copy()
    df_top5 = df_top5.drop(['value_eur','wage_eur'], axis = 1)
    df_top5 = df_top5[df_top5['nationality_name'] == team]
    df_top5 = df_top5.sort_values(['overall','potential'] , ascending = False).head()
    return df_top5

In [14]:
top5('Spain')

,short_name,age,nationality_name,overall,potential,club_name,player_positions
66,Marcos Llorente,26,Spain,86,89,Atlético de Madrid,CM
67,Rodri,25,Spain,86,89,Manchester City,CDM
63,A. Laporte,27,Spain,86,89,Manchester City,CB
59,Gerard Moreno,29,Spain,86,86,Villarreal CF,ST
51,Thiago,30,Spain,86,86,Liverpool,CM

<h1> OVERALL OF TEAMS </h1>

In [15]:
avg_overall = [best_squad(team)['overall'].mean() for team in worldcup_teams]

In [16]:
df_overall_teams = pd.DataFrame({'Team': worldcup_teams , 'Average Overall': avg_overall})

In [17]:
df_overall_teams = df_overall_teams.dropna()

In [18]:
df_overall_teams = df_overall_teams.sort_values('Average Overall', ascending = False)

In [19]:
df_overall_teams

             Team  Average Overall
6           Spain        82.033333
7        Portugal        81.733333
1          Brazil        81.666667
5         England        81.466667
3          France        80.933333
4       Argentina        80.300000
11        Germany        80.166667
2         Belgium        79.137931
9     Netherlands        78.655172
8          Mexico        77.454545
15        Croatia        76.760000
12        Uruguay        76.692308
20         Serbia        76.260870
19        Morocco        75.920000
10        Denmark        75.133333
16        Senegal        74.727273
13    Switzerland        74.535714
18          Japan        73.592593
21         Poland        73.592593
14  United States        73.259259
28          Ghana        72.777778
24       Cameroon        72.578947
26        Ecuador        71.076923
29          Wales        70.821429
30     Costa Rica        70.466667
31      Australia        70.285714
17           Iran        69.705882
25         Canada        68.960000
23        Tunisia        68.578947
27   Saudi Arabia        68.375000

<h1> BEST TEAM FORMATION  </h1>

In [20]:
dict_formation = {
    '4-3-3': ['GK', 'RB', 'CB', 'CB', 'LB', 'CDM', 'CM', 'CAM', 'RW', 'ST', 'LW'],
    '4-4-2': ['GK', 'RB', 'CB', 'CB', 'LB', 'RM', 'CM', 'CM', 'LM', 'ST', 'ST'],
    '4-2-3-1': ['GK', 'RB', 'CB', 'CB', 'LB', 'CDM', 'CDM', 'CAM', 'CAM', 'CAM', 'ST'],
}

In [21]:
def best_lineup(nationality, lineup):
    lineup_count = [lineup.count(i) for i in lineup]

    df_lineup = pd.DataFrame({'position': lineup, 'count': lineup_count})
    positions_non_repeated = df_lineup[df_lineup['count'] <= 1]['position'].values
    positions_repeated = df_lineup[df_lineup['count'] > 1]['position'].values

    df_squad = best_squad(nationality)

    df_lineup = pd.concat([
        df_squad[df_squad['player_positions'].isin(positions_non_repeated)].drop_duplicates('player_positions', keep='first'),
        df_squad[df_squad['player_positions'].isin(positions_repeated)]]
    )
    return df_lineup[['short_name', 'overall', 'club_name', 'player_positions']]

In [22]:
for index, row in df_overall_teams[:9].iterrows():
    max_average = None
    for key, values in dict_formation.items():
        average = best_lineup(row['Team'], values)['overall'].mean()
        if max_average is None or average>max_average:
            max_average = average
            formation = key
    print(row['Team'], formation, max_average)

Spain 4-2-3-1 85.1
Portugal 4-2-3-1 84.9
Brazil 4-3-3 84.81818181818181
England 4-4-2 84.45454545454545
France 4-2-3-1 83.9
Argentina 4-3-3 83.54545454545455
Germany 4-2-3-1 84.0
Belgium 4-3-3 82.81818181818181
Netherlands 4-3-3 82.45454545454545

<h2> CREATING DATAFRAMES FOR BEST SQUADS </h2>

In [29]:
df_Spain = best_lineup('Spain', dict_formation['4-2-3-1'])
df_Portugal = best_lineup('Portugal', dict_formation['4-2-3-1'])
df_Brazil = best_lineup('Brazil', dict_formation['4-3-3'])
df_England = best_lineup('England', dict_formation['4-4-2'])
df_France = best_lineup('France', dict_formation['4-2-3-1'])
df_Argentina = best_lineup('Argentina', dict_formation['4-3-3'])
df_Germany = best_lineup('Germany', dict_formation['4-2-3-1'])
df_Belgium = best_lineup('Belgium', dict_formation['4-3-3'])
df_Netherlands = best_lineup('Netherlands', dict_formation['4-3-3'])

<h2> EXPORTING THE DATAFRAMES TO CSV FILES </h2>

In [30]:
df_Spain.to_csv('Spain_Squad.csv', index = False)
df_Portugal.to_csv('Portugal_Squad.csv', index = False)
df_Brazil.to_csv('Brazil_Squad.csv', index = False)
df_England.to_csv('England_Squad.csv', index = False)
df_France.to_csv('France_Squad.csv', index = False)
df_Argentina.to_csv('Argentina_Squad.csv', index = False)
df_Germany.to_csv('Germany_Squad.csv', index = False)
df_Belgium.to_csv('Belgium_Squad.csv', index = False)
df_Netherlands.to_csv('Netherlands_Squad.csv', index = False)

In [32]:
best_lineup('France', dict_formation['4-2-3-1'])

       short_name  overall            club_name player_positions
6       K. Mbappé       91  Paris Saint-Germain               ST
621     B. Pavard       79    FC Bayern München               RB
137  T. Hernández       84             AC Milan               LB
31      H. Lloris       87    Tottenham Hotspur               GK
229   J. Veretout       82                 Roma              CDM
301      B. André       81           LOSC Lille              CDM
57      R. Varane       86    Manchester United               CB
197     J. Koundé       83           Sevilla FC               CB
131      N. Fekir       84  Real Betis Balompié              CAM
277   T. Ndombele       82    Tottenham Hotspur              CAM